@tailwind base;
@tailwind components;
@tailwind utilities;

.imagewrapper{
    position: relative;
}

/* .background-image-div{
    background-image: url(../assets/ecom2.jpg);
    background-size: cover;
} */